body{
    color: $fc-300;
}

@media (max-width: 320px) { 
    .login{
        height: calc(100%-80px);
    }  
}
.loginHeight{
  min-height: calc(100vh - 12rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content{
  width: 250px;
  padding: 25px;
  background-color: $white;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  @include mobile_min480{
    width: 300px;
  }
  @include mobile_min576{
    width: 400px;
  }
}

.loglabel{
    text-align: start;
}

.social-login{
    display: flex;
}

.signin,.registered{
    padding: 20px;
}

.login-btn,.registered-submit,.login-facebook{
    width: 100%;
    @include mobile_min480{
      width: 30%;
    }
}

.tab-content-thirdlogin{
    padding: 20px;
}


.LogininputPassword{
    display: flex;
    justify-content: space-between;
    p{
        margin: 0;
    }
    .forgetpassword{
        font-size: 10px;
    }
}


@media (max-width: 320px) { 
    .login-content{
        width: 100%;
        min-height: 890px;
        margin: 0 auto;
        padding: 25px;
        .login-btn,.registered-submit{
            width: 93px;
            margin-left: 137px;
        }
    }
    
}


@media (max-width: 320px) { 
    .social-login{
        display: flex;
        justify-content:space-between;
        .login-facebook,.login-google{
            width:93px;
            margin-right: 0px;
        }
    }

}
