/*返回上頁*/
.returnMap{
    font-size: $fs-200;
    cursor: pointer;
}
/*賣家卡片*/
.switcherStore-sellerCard{
    padding: 1rem;
    background-image: linear-gradient(-225deg, #0F2027 0%, #203A43 51%, #2C5364 100%);
    .sellerImg{
        width: $font-size-base*6.25;
        height: $font-size-base*6.25;
        background-repeat: no-repeat;
        background-size: contain;
        img, .el-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
        .el-image{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #e9ecef;
          }
    }
    .sellerTxt p,.sellerTxt button{
        font-size: $fs-200;
    }
}
.switcherStore-sellerInfo{
    .orange-txt{
        color: $orange;
    }
}

/*關於賣場*/
.switcherStore-about{
    background-color: $white;
}
.switcherStore-aboutInfo{
    height: 300px; 
    .about-text{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    .storeImg{
        width: 100%;
        height: 100%;
        box-shadow:0 0 4px 4px $white;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .el-image{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #e9ecef;
          }
    }
}
@include mobile_576{
  .about-storeImg{
      display: none;
  }
}

/*賣場列表*/
.switcherStore-main{
    .main-item{
        font-size: $fs-300;
        cursor: pointer;
        display: block;
        &:hover{
            opacity: 1;
        }
    }
    .active{
        opacity: 1;
    }
}
@include mobile_480{
    .switcherStore-body{
        justify-content: center;
    }
}
