body{
    color: $fc-300;
}
.goods-photo{
    margin-top: 1rem;
}

.row-info{
   width: 100%;
   margin-left: 0px;
}


#upload-memphoto{
    width: 100%;
}

.shop-photo{
    display: block;
    height: auto;
    max-width: 100%;
}

.mem-upload-photo-sm{
    display: none;
    @media only screen and (max-width: 568px)  {
        display: block;
         width: 100%;
         padding: 60px 60px 0px 90px;
         margin: auto;
  
        
    }
}


@media (max-width: 414px) { 
    .mem-upload-photo-sm{
       padding: 45px;
    }
}


@media (max-width: 414px) { 
    .mem-info-sm{
       margin-top: 0;
    }
}

    @media only screen and (max-width: 568px) {
    .mem-info-sm{
        margin-top: -5rem;
    }
}


@media only screen and (max-width: 568px)  {
     .mem-upload-photo{
        display: none;
    }
}


    @media only screen and (max-width: 568px)  {
        .ver-sm{
        margin-left: 249px;
        margin-top: 5px;
    }
}

    @media only screen and (max-width: 568px)  {
        .change-ver-sm{
        margin-left: 232px;
        margin-top: 5px;
    }
}


@media (max-width: 414px) { 
    .btn-outline-social{
       margin-left: 137px;
    }
}