body{
    color: $fc-300;
}

.form-control, .input-group-text {
    border-radius: 0rem;
}

.O-price,.d-price{
    color:$red ;
}

.upload-img{
    width: 300px;
}

@media (max-width: 320px) { 

    .upload-goods-photo{
        display: none;
    }
}

