body{
    color: $fc-300;
}
.forgetpw{
    margin: 0px auto;

    .resetpassword{
        text-align: center;
        font-size: $fs-500;
        .fa-search{
            font-size: 80px;
        }
    }
}

.resetleter{
    font-size: 50px;
}

.reset-button{
   text-align: center;
}
